rps/curl/wadl.xml

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <grammars/>
  <resources base="http://localhost:8080/rps/api/">
    <resource path="/profile/">
      <resource path="{id}/">
        <param name="id" style="template" type="xs:string"/>
        <method name="DELETE">
          <request/>
          <response>
            <representation mediaType="application/octet-stream"/>
          </response>
        </method>
        <method name="GET">
          <request/>
          <response>
            <representation mediaType="application/json"/>
            <representation mediaType="application/x-protobuf"/>
          </response>
        </method>
        <method name="PUT">
          <request>
            <representation mediaType="application/json"/>
            <representation mediaType="application/x-protobuf"/>
          </request>
          <response>
            <representation mediaType="application/octet-stream"/>
          </response>
        </method>
      </resource>
    </resource>
  </resources>
</application>